/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* ------ Helper Classes -------*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
  }
  
  /* ---------------Utility Styles----------------- */
  
  .container{
    width:80vw;
    margin:40px auto;
    max-width:900px;
  }
  
  .img-right{
    float:right;
    padding:5px;
    border:1px solid #c0c0c0;
    margin: 10px 0 10px 20px;
  }
  
  .img-left{
    float:left;
    padding:5px;
    border:1px solid #c0c0c0;
    margin: 10px 20px 10px 0;
  }
  
  .img-center{
    display:block;
    padding:5px;
    border:1px solid #c0c0c0;
    margin: 20px auto;
  }
  
  /* ---------------Responsive Images----------------- */
  img{
    max-width:100%;
    height:auto;
  }
  /* ------ Design Time Styles -------*/
.container {
    max-width: 480px;
    margin: 0 auto;
  }
  
  /* ---------------Global Styles----------------- */
  body{
    font-family: 'Raleway', sans-serif;
    margin:0;
    background: #efefef;
    color: #222222;
    line-height: 1.6;
  }
  a:link,
a:visited {
  color: #222;
}
  header.primary{
    background-color:#3b638b;
    text-align:center;
    color:#ffffff;
    text-shadow: 2px 2px #000;
    /* Longform */
    padding-top:40px;
    padding-right:40px;
    padding-bottom:20px;
    padding-left:40px;}
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* Using Repeat */
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 20px 0px 20px;
      }
      
      nav a:link,
      nav a:visited {
        border: 1px solid #000;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        color: #222222;
        text-transform: uppercase;
        font-size: 0.75em;
        background: rgba(0, 0, 0, 0.65);
        transition: background-color 0.5s ease;
        color: #fff;
      }
      
      nav a:hover {
        background: rgba(0, 0, 0, 0.95);
      }
      
      main {
        padding: 1px 20px;
      }
      
      main h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-variant: small-caps;
      }
      main h1:before,
      main h1:after {
        background-color: #222;
        content: "\a0";
        flex-grow: 1;
        height: 1px;
        position: relative;
        top: 0.77em;
      }
      main h1:before {
        margin-right: 10px;
      }
      main h1:after {
        margin-left: 10px;
      }
      
      dl {
        display: grid;
        grid-template-columns: 8em 1fr;
        grid-templates-rows: auto;
        /* Shorthand */
        grid-template: auto / 8em 1fr;
      }
      
      dt {
        font-weight: 800;
        grid-column: 1;
        padding: 10px 0;
        border-bottom: 1px solid #999;
      }
      
      dd {
        margin: 0;
        grid-column: 2;
        padding: 10px 0;
        border-bottom: 1px solid #999;
      }
      
      .related-links {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
      }
      .related-links .svg-inline--fa {
        font-size: 1.8em;
        padding-top: 7px;
      }
      
      .related-links a {
        border: 1px solid #000;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.75em;
        background: rgba(0, 0, 0, 0.65);
        transition: background-color 0.5s ease;
        color: #fff;
      }
      
      .related-links a:hover {
        background: rgba(0, 0, 0, 0.95);
      }
      
      .related-links li {
        margin-right: 20px;
      }
      
  
    
  
  
  
  
  header.primary h1{
    font-size:3.2rem;
    margin: 20px 0;
  }
  
  header.primary h1 a{
    text-decoration:none;
    color:#ffffff;
  }
  
  header.primary h2{
    font-size:2rem;
    /* Top | Left/Right | Bottom */
    margin:20px auto 40px;
  }
  
  header.primary nav{
    width:80vw;
    margin: 20px auto;
    max-width:900px;
  }
  
  header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:0;
  }
  
  header.primary nav ul li{
    list-style-type:none;
    padding:10px;
  }
  
  header.primary nav ul li a:link, header.primary nav ul li a:visited{
    color:#ffffff;
    text-decoration:none;
    background-color:#000000;
    background-color:rgba(0,0,0,.4);
    padding: 8px 16px;
    border-radius:20px;
    transition:.5s;
  }
  
  
  header.primary nav ul li a:hover, header.primary nav ul li a:active{
    background-color:rgba(0,0,0,.8);
  }
  
  #intro{
    border-bottom:1px solid #c0c0c0;
    padding-bottom: 1.5em;
  }
  
  #intro p {
    line-height:1.5em;
  }
  
  #intro h2{
    color:#3b638b;
  }
  
  #content{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  border-bottom:1px solid #c0c0c0;
  padding-bottom:2.6rem;
  }
  
  #content article.post{
    width:30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    padding:.7em;
    transition:.5s;
    border-radius:10px;
    font-size:.9rem;
  }
  
  #content article.post:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.4);
  }
  
  #content .post figure{
    margin:0;
  }
  
  #content article time, #content article figcaption, #content article footer{
    font-size:.8rem;
    text-transform:uppercase;
    color:#c0c0c0;
  }
  
  #content article img{
    border-radius:4px;
  }
  
  .post a:link,.post a:visited{
    color:#3b638b;
  }
  /* Attribute Selector */
  aside[role="complementary"]{
    background-color:#172635;
    color:#ffffff;
    padding:2.5rem;
  }
  aside .container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  
  aside article.widget{
    width: 40%;
  }
  
  aside a:link, aside a:visited{
    color:#fff;
    display:block;
    margin-top: 20px;
    letter-spacing: 1.5px;
  }
  
  aside a:hover, aside a:active{
    text-decoration:none;
  }
  
  aside article footer{
    display:none;
  }
  
  
  footer#colophon{
    background-color: #3b638b;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.25'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  #colophon h6{
    padding:20px;
    margin:0;
    color:#fff;
    text-align:center;
    font-size:.8rem;
    text-transform:uppercase;
  }
  
  #additional-elements h2{
  color:#3b638b;
  border-bottom: 3px double #c0c0c0;
  }
  
  #additional-elements a:link, #additional-elements a:visited{
    color:#3b638b;
  }
  
  #additional-elements a:visited, #additional-elements a:active{
    text-decoration:none;
  }
  
  #additional-elements h3{
    border-left: 5px solid #3b638b;
    padding: 10px 10px;
  }
  
  
  
  
  
  
  
  
  
  
  
  @media screen and (max-width:690px){
    
    header.primary nav ul {
      flex-direction:column;
      max-width:400px;
      margin:0 auto;
    }
    
    
    header.primary nav a{
      display:block;
    }
    
    
  }
  
  
  
  
  
  
  
  
  
  
  
  